<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <!-- 
        allow loading of assemblies from a different directory. important for final release if copying here
        if messing with this, also check out DiztinGUIsh.runtimeconfig.json in the publish/ folder. mess with
        "additionalProbingPaths".  it all doesn't quite work anymore in .NET5
        
        2025 update: we don't really rely on this and just copy everything into one flat directory.  
        -->
        
        <!-- <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> -->
        <!--     <probing privatePath="lib" /> -->
        <!-- </assemblyBinding> -->
    </runtime>
</configuration>