[submodule "Diz.LogWriter"]
	path = Diz.LogWriter
	url = https://github.com/DizTools/Diz.LogWriter
[submodule "Diz.Ui.Winforms"]
	path = Diz.Ui.Winforms
	url = https://github.com/DizTools/Diz.Ui.Winforms
