<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiztinGUIsh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
    </startup>
    <userSettings>
        <DiztinGUIsh.Properties.Settings>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenLastFileAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
        </DiztinGUIsh.Properties.Settings>
    </userSettings>
    <runtime>
        <!-- 
        allow loading of assemblies from a different directory. important for final release if copying here
        if messing with this, also check out DiztinGUIsh.runtimeconfig.json in the publish/ folder. mess with
        "additionalProbingPaths".  it all doesn't quite work anymore in .NET5 
        -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
        </assemblyBinding>
    </runtime>
</configuration>