<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="2.1.2" targetFramework="net48" developmentDependency="true" />
  <package id="IX.Abstractions" version="0.5.3" targetFramework="net48" />
  <package id="IX.Abstractions.Collections" version="0.5.3" targetFramework="net48" />
  <package id="IX.Abstractions.Threading" version="0.5.3" targetFramework="net48" />
  <package id="IX.Observable" version="0.5.3" targetFramework="net48" />
  <package id="IX.StandardExtensions" version="0.5.3" targetFramework="net48" />
  <package id="IX.StandardExtensions.ComponentModel" version="0.5.3" targetFramework="net48" />
  <package id="IX.StandardExtensions.Threading" version="0.5.3" targetFramework="net48" />
  <package id="IX.Undoable" version="0.5.3" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net48" />
  <package id="LightInject" version="6.3.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.Interactive" version="4.1.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>