<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="2.0.0" targetFramework="net48" />
  <package id="FastBitmapLib" version="2.0.0" targetFramework="net48" />
  <package id="GitInfo" version="2.1.2" targetFramework="net48" developmentDependency="true" />
  <package id="IX.Observable" version="0.7.3" targetFramework="net48" />
  <package id="IX.StandardExtensions" version="0.7.4" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2020.3.0" targetFramework="net48" />
  <package id="LightInject" version="6.4.0" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Interactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
</packages>